.progress
{
    height: 400px;
    width: 100%;
    background-color: rgba(248, 248, 248, 1);
    padding: 40px 15%;
    position: relative;
}

.progress__headline
{
    font-family: 'Poppins Regular';
    font-size: 32px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.progress__numerals
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.progress__numerals__item
{
    font-family: 'Open Sans', sans-serif; 
    width: 120px;
    height: 120px;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
    border-radius: 40px 0px;
    text-align: center;
    font-size: 12px;
    z-index: 1;
}

.progress__numerals__item__title
{
    padding: 3px;
    margin: 0px;
    margin-bottom: 1px;
    font-size: 32px;
}

.item-lower
{
    margin-top: 60px;
}

.progress__numerals__connector
{
    position: absolute;    
    height: 70px;
    width: 250px;
    z-index: 0;
    top: 60px;
}

.vector-one
{
    left: 100px;
}

.vector-two
{
    left: 380px;
}

.vector-three
{
    left: 650px;    
}

@media screen and (max-width: 1280px) /*Tab*/
{
    .progress
    {
        padding-left: 10%;
        padding-right: 10%;
    }

    .vector-one
    {
        left: 120px;
    }

    .vector-two
    {
        left: 400px;
    }

    .vector-three
    {
        left: 710px;    
    }
}

@media screen and (max-width: 1250px) /*Tab*/
{
    .vector-three
    {
        left: 650px;    
    }
}

@media screen and (max-width: 1200px) /*Tab*/
{
    .vector-one
    {
        left: 80px;
    }

    .vector-two
    {
        left: 350px;
    }

    .vector-three
    {
        left: 640px;    
    }
}

@media screen and (max-width: 1150px) /*Tab*/
{
    .vector-three
    {
        left: 600px;    
    }
}

@media screen and (max-width: 1100px) /*Tab*/
{
    .vector-one
    {
        left: 70px;
    }

    .vector-two
    {
        left: 300px;
    }

    .vector-three
    {
        left: 550px;    
    }
}

@media screen and (max-width: 1000px) /*Tab*/
{
    .vector-one
    {
        left: 60px;
    }

    .vector-two
    {
        left: 280px;
    }

    .vector-three
    {
        left: 500px;    
    }
}

@media screen and (max-width: 950px) /*Tab*/
{
    .vector-one
    {
        left: 50px;
    }

    .vector-two
    {
        left: 250px;
    }

    .vector-three
    {
        left: 450px;    
    }
}

@media screen and (max-width: 900px) /*Tab*/
{
    .vector-two
    {
        left: 230px;
    }

    .vector-three
    {
        left: 420px;    
    }
}

@media screen and (max-width: 850px) /*Tab*/
{
    .vector-one
    {
        left: 30px;
    }

    .vector-two
    {
        left: 220px;
    }

    .vector-three
    {
        left: 390px;    
    }
}

@media screen and (max-width: 800px) /*Tab*/
{
    .vector-two
    {
        left: 200px;
    }

    .vector-three
    {
        left: 360px;    
    }
}

@media screen and (max-width: 750px) /*Tab*/
{
    .vector-one, .vector-two, .vector-three
    {
        display: none;
    }
}


@media screen and (max-width: 650px) /*Tab*/
{
    .progress
    {
        height: 550px;
    }
    .progress__numerals
    {
        justify-content: space-around;
    }
    .progress__numerals__item
    {
        margin-right: 50px;
        margin-bottom: 20px;
    }
    .item-lower
    {
        margin-top: 0px;
    }
}

.progress__before-dots, .progress__after-dots
{
    position: absolute;
    width: 150px;
    height: 100px;
}
.progress__before-dots
{
    right: 0px;
    top: -50px;
    z-index: -10;
}

.progress__after-dots
{
    left: 0px;
}

@media screen and (max-width: 430px) /*Mobile*/
{
    .progress
    {
        height: 800px;
    }

    .progress__after-dots
    {
        display: none;
    }
    .progress__headline
    {
        font-size: 22px;
    }

}
