.progress
{
    height: 400px;
    width: 100%;
    background-color: rgba(248, 248, 248, 1);
    padding: 40px 15%;
}

.progress__headline
{
    font-family: 'Poppins Regular';
    font-size: 32px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.progress__numerals
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.progress__numerals__item
{
    font-family: 'Open Sans', sans-serif; 
    width: 120px;
    height: 120px;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
    border-radius: 40px 0px;
    text-align: center;
    font-size: 12px;
    z-index: 1;
}

.progress__numerals__item__title
{
    padding: 3px;
    margin: 0px;
    margin-bottom: 1px;
    font-size: 32px;
}

.item-lower
{
    margin-top: 60px;
}

.progress__numerals__connector
{
    position: absolute;    
    height: 70px;
    width: 200px;
    z-index: 0;
    top: 60px;
}

.vector-one
{
    left: 100px;
}

.vector-two
{
    left: 380px;
}

.vector-three
{
    left: 650px;    
}

